Spectrum Class:
* Plot spectrum
* Plot position on sky
* Subclass into star and galaxy
* Fit continuum
* Get wavelength range
* Get variance

SDSS Schema Link:
https://data.sdss.org/datamodel/files/BOSS_SPECTRO_REDUX/RUN2D/spectra/PLATE4/spec.html